<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../public/css/style.css" />
		<title> Connection </title>
	</head>
	<body>
	<div class = "page-content">
		<header>
			<% if(user == null) { %>
				<%- include('partials/header'); -%>
				<%- include('partials/site-navigation'); -%>
			<% } else { %>
				<%- include('partials/header-logged-in'); -%>
				<%- include('partials/site-navigation-logged-in'); -%>
			<% } %>
		</header>
	<main class = "itemMain">
		<section class = "itemDesc">

		<h2> <%= obj._name %> </h2>
			<section>
				<p style="float: left;"><img src="../public/img/logo_netbeans_red.png" alt = "netbeans_logo" height="100" width="100"></p>
				<small>Hosted by: <%= obj._host._firstName %> <BR> Date: <%= obj._date %> <BR> Time: <%= obj._time %></small>
			</section>
			<BR>
		<h4> Details </h4>
		<%= obj._details %>
		</section>

		<% if((user==null) || (user._user._userID != obj._host._userID)){ %> 
			<section class = "itemPoll">
				<p id = "pollText"> Are you going? 3 people are going </p>
				<BR>
				<div id = "pollButtons">

					<button class = "Yes" onclick = <% if(user) { %>
						"location.href='connection/interested?connectionID=<%- obj._connectionID -%>'"
					<% }else{ %>
						"location.href='login'"
					<% } %>> Yes </button>

					<button class = "No" onclick = <% if(user) { %>
						"location.href='connection/updatersvp?connectionID=<%- obj._connectionID -%>&rsvp=No'"
					<% }else{ %>
						"location.href='login'"
					<% } %>> No </button>

					<button class = "Maybe" onclick = <% if(user) { %>
						"location.href='connection/updatersvp?connectionID=<%- obj._connectionID -%>&rsvp=Maybe'"
					<% }else{ %>
						"location.href='login'"
					<% } %>> Maybe </button>

				</div>
			</section>
		<% } else { %>
			<button onclick = <% if(user) { %>
				"location.href='connection/deleteConnection?connectionID=<%- obj._connectionID -%>'"
			<% }else{ %>
				"location.href='login'"
			<% } %>> Delete this Connection </button>
	<% } %>


	</main>
	<%- include('partials/circle-theme'); -%>
	</div>
	<%- include('partials/footer'); -%>
</body>
</html>
