<!DOCTYPE html>
<html>

	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../public/css/style.css" />
		<title> Connections </title>
	</head>
	<body>
	<header>
		<% if(user == null) { %>
			<%- include('partials/header'); -%>
			<%- include('partials/site-navigation'); -%>
		<% } else { %>
			<%- include('partials/header-logged-in'); -%>
			<%- include('partials/site-navigation-logged-in'); -%>
		<% } %>
	</header>

		<% var topicCount = [ ]; %>
		<% for (var i=0; i<obj.length; i++) { %>
			<% topicCount.push(obj[i].topic);%>
		<% } %>
		<% var uniqueTopics = Array.from(new Set(topicCount)) %>

	<main class = "catalogMain">
		<% for (var i=0; i<uniqueTopics.length; i++) { %>
			<h3> <%= uniqueTopics[i] %> </h3>
				<ul class = "catalog-links">
					<% for (var j=0;j<obj.length; j++) { %>
						<% if(obj[j].topic === uniqueTopics[i]){ %>
						<li> <a class = "catalog-link" href= "connection?connectionID=<%- obj[j].connectionID -%>"> <%= obj[j].name %> </a> </li>
						<% } %>
					<% } %>
				</ul>
				<BR>
		<% } %>
	</main>

	<%- include('partials/circle-theme'); -%>

	<%- include('partials/footer'); -%>
</body>
</html>
