<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../public/css/style.css" />
		<title> Homepage </title>
	</head>

	<body>

	<header>
	<%- include('partials/header'); -%>
	<%- include('partials/site-navigation'); -%>
	</header>

  <div class = "form">
  	<h1>Enter your credentials</h1>

		<form action = "/login" method="post">
			<% if(errors){ %>
				<ul>
					<% if(errors.length > 0){ %>
						<li> <%= errors[0].msg %> </li>
					<% } %>
				</ul>
			<% } %>

			<% if(e){ %>
				<ul>
					<% if(e.length > 0){ %>
						<li> <%= e[0] %> </li>
					<% } %>
				</ul>
			<% } %>
			<label for="user[email]"> User Name: </label><br>
			<input type="email" name="user[email]" id = "user[email]"><br><br>

			<label for="user[password]"> Password: </label><br>
			<input type="password" name="user[password]" id = "user[password]"><br><br>

			<button type="submit">Submit</button>
		</form>
</div>

	<%- include('partials/circle-theme'); -%>

	<%- include('partials/footer'); -%>

	</body>
</html>
