<!DOCTYPE html>
<html>

	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../public/css/style.css" />
		<title> SavedConnections </title>
	</head>
	<body>
	<header>
		<%- include('partials/header-logged-in'); -%>
		<%- include('partials/site-navigation-logged-in'); -%>
	</header>

	<main class = "test">
		<div class = "caption">
			<h3> <%- user._user._firstName -%>'s Connection </h3>
		</div>
		<BR>
		<table style="width:100%">
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>Going</th>
			<th> </th>
		</tr>

		<% for (var i=0; i<user._userConnection.length; i++){ %>
			<tr>
				<td> <%- user._userConnection[i]._connection._name -%> </td>
				<td> <%- user._userConnection[i]._connection._topic -%> </td>
				<td> <%- user._userConnection[i]._rsvp -%> </td>
				<td> <button onclick = "location.href='savedConnections'" type="button">Update</button> <button onclick = "location.href='connection'" type="button">Delete</button> </td>
			</tr>
		<% } %>
		</table>
	</main>
	<%- include('partials/circle-theme'); -%>
	<%- include('partials/footer'); -%>
</body>
</html>
